/* Media Info field styling - reduce spacing */
.media-info-list {
  margin: 0;
  padding: 0;
  font-size: 0.85rem;
  line-height: 0.8rem;
}

.media-info-list dt {
  font-weight: bold;
  float: left;
  clear: left;
  margin: 0;
  padding: 0 0.5rem 0 0;
  color: #666;
  width: auto;
}

.media-info-list dd {
  margin: 0 0 0.3rem 0;
  padding: 0;
  overflow: hidden;
}

.media-info-list dd:last-child {
  margin-bottom: 0;
}